<!doctype html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- My CSS file -->
<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/style.css') }}">
<link rel="icon" href="https://static.vecteezy.com/system/resources/previews/021/022/920/original/small-dog-icon-design-free-vector.jpg">
<head>
<title>Random Doggo</title>
<meta name="description" content="A new doggo with some information about them every time you load the page.">
<meta name="keywords" content="random dog generator photo">
</head>
<body>
<div class="p-5 text-center">
  <h1>Random Doggo Generator</h1>
</div>

<!-- This creates a horizontal line for looks -->
<div class="hr-lines">
  <div class="hr-line"></div>
  <div class="hr-lines-img"><img src="../static/icon.png" width="10%"></div>
  <div class="hr-line"></div>
</div>

<div class="container-fluid">
  <div class="row">
	<div class="col-sm-12 text-center">
		<form method="POST" enctype="multipart/form-data">
		  <div class="mb-3">
			<label for="name" class="form-label">Dog Name</label>
			<input type="text" class="form-control input_text" name="name" value={{doggo_name}}>
			<!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
		  </div>
		  
		  <div class="mb-3">
			<label for="breed" class="form-label">Dog Breed</label>
			<input type="text" class="form-control input_text2" name="breed" value={{doggo_breed}}>
		  </div>
		  
		  <div class="mb-3">
			<label for="fact" class="form-label">Dog Fact</label>
			<input type="text" class="form-control input_text2" name="fact" value={{doggo_fact}}>
		  </div>
		  
		  
		  
		  <label for="img" class="form-label">Dog Image</label>
		  <input class="input_file" type="file" name="file" name="file" id="img" value={{doggo_img}}>
		  
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
  </div>
 </div>
</body>

<footer>
<hr>
<div class="col-sm-12 text-center">
	<button id="return_button" class="button-55" role="button">Get Random Doggo</button>
	<script type="text/javascript">
    document.getElementById("return_button").onclick = function () {
        window.location.href = "http://localhost:5000/";
    };
	</script>
</div>

</footer>
</html>