<!doctype html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- My CSS file -->
<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/style.css') }}">
<link rel="icon" href="https://static.vecteezy.com/system/resources/previews/021/022/920/original/small-dog-icon-design-free-vector.jpg">
<head>
<title>Random Doggo</title>
<meta name="description" content="A new doggo with some information about them every time you load the page.">
<meta name="keywords" content="random dog generator photo">
</head>
<body>
<div class="p-5 text-center">
  <h1>Random Doggo Generator</h1>
</div>

<!-- This creates a horizontal line for looks -->
<div class="hr-lines">
  <div class="hr-line"></div>
  <div class="hr-lines-img"><img src="../static/icon.png" width="10%"></div>
  <div class="hr-line"></div>
</div>

<div class="container-fluid">
  <div class="row">
	<div class="col-sm-12 text-center">
		<!--<h2>This is a random Message</h2> -->
			<div class="col-sm-4 text-center"></div>
			<div class="col-sm-4 text-center"></div> 
	</div>
  </div>
 </div>
</body>

<footer>

<hr>
<div class="col-sm-12 text-center">
	<button id="add_button" class="button-55" role="button">Add New Doggo</button>
	<script type="text/javascript">
    document.getElementById("add_button").onclick = function () {
        location.href = window.location.href + "add";
    };
	</script>
</div>

</footer>
</html>