.hr-lines{
  position: relative;
  margin: 20px auto;
  text-align: center;
  width : 20%;
}

.hr-lines-img{
	position: relative;
	text-align: center;
	width : 100%;
}

.hr-lines:before{
  content:" ";
  height: 1px;
  width: 35%;
  background: black;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.hr-lines:after{
  content:" ";
  height: 1px;
  width: 35%;
  background: black;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}