<!doctype html>
<html>
<link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- My CSS file -->
<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/error.css') }}">

<head>
<title>404 Not Found</title>
</head>
<body>
<div class="container">
      <div class="row align-items-center text-center" style="min-height: 100vh">
        <div class="col-md-12">
          <img class="test" src="https://media.istockphoto.com/id/1163581975/vector/warning-danger-sign-triangle-frame-yellow-and-black-color-background.jpg?s=612x612&w=0&k=20&c=UsONAgKo9RG5MbkNFUgTNMP06oMh_ibBHjzgGaBhOpI="/>
		  <h3>Internal Server Error!</h3>
		  <p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>
        </div>
		
      </div>
    </div>
</body>
</html>